<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>H2 Database</title>
</head>
<body>
	<h1>This is index.html</h1>
	<table th:if="${studentList != null AND studentList != ''}">
		<tr th:each="s: ${studentList}">
			<td th:text="${s.name}">Frank</td>
		</tr>
	</table>
	<form method="post" action="" th:action="@{/insertStudent}" th:object="${student}">
		<input type="hidden" name="id" th:field="*{id}" />
		Name: <input type="text" name="name" th:field="*{name}" /><br>
		<input type="submit" value="Go!" />
	</form>
</body>
</html>